.plausible-analytics-wrap {
	display: flex;

	input[type='text'],
	textarea {
		background-color: #f5f5f5;
		border: none;
		border-radius: 5px;
	}

	input#shared_link,
	textarea#excluded_pages {
		width: 100%;
	}

	.plausible-checkbox-list {
		margin: 3px 0;
		display: inline-block;
	}

	.plausible-analytics-content {
		width: 800px;
	}

	.plausible-analytics-admin-field {
		background-color: #fff;
		margin-bottom: 20px;
		padding: 15px;

		label {
			font-weight: 700;

			.plausible-analytics-admin-field-input {
				font-weight: 400;
				font-size: 14px;

				input[type='text'] {
					background-color: #f5f5f5;
					border: none;
					border-radius: 5px;
				}
			}
		}

		.plausible-analytics-admin-field-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.plausible-analytics-admin-field-body {
			padding: 10px 0;
			margin: 15px 0;
			border-top: 1px dashed #e5e5e5;
			border-bottom: 1px dashed #e5e5e5;
		}

		.plausible-analytics-description {
			font-style: italic;
			color: #989898;

			ol {
				margin: 5px 15px;
			}
		}

		.plausible-analytics-admin-field-content {
			border-top: 1px dashed #e5e5e5;
			margin-top: 15px;
			padding: 15px 0 0;
		}
	}
}

.plausible-analytics-hidden {
	display: none;
}

.plausible-analytics-show {
	display: block;
}

.plausible-analytics-statistics-not-loaded {
	margin: 20px 0 0 -10px;
	padding: 0 30px;
	font-size: 15px;
	line-height: 24px;
}
