.plausible-analytics-wrap {
	display: flex;

	input[type='text'],
	textarea {
		background-color: #f5f5f5;
		border: none;
		border-radius: 5px;
	}

	input#shared_link,
	textarea#excluded_pages {
		width: 100%;
	}

	.plausible-checkbox-list,
	.plausible-text-field {
		margin: .5em 1em .5em 0;
		display: inline-block;
	}

	.plausible-hook {
		padding: 1em 0 0 2em;
	}

	.plausible-analytics-content {
		width: 800px;
	}

	.plausible-analytics-admin-field {
		background-color: #fff;
		margin-bottom: 20px;
		padding: 15px;

		&.enhanced-measurements {
			.plausible-checkbox-list {
				display: block;
			}
		}

		&.bypass-ad-blockers {
			.plausible-hook {
				border: 1px solid #2271b1;
				border-radius: 3px;
				background-color: #c1d7e9;
				padding: 1em 2em;
			}
		}

		&.is-self-hosted {
			.plausible-hook {
				border: 1px solid #2271b1;
				border-radius: 3px;
				background-color: #c1d7e9;
				padding: 1em 2em;

				&:empty {
					display: none;
				}
			}
		}

		label {
			font-weight: 700;

			.plausible-analytics-admin-field-input {
				font-weight: 400;
				font-size: 14px;

				input[type='text'] {
					background-color: #f5f5f5;
					border: none;
					border-radius: 5px;
				}
			}
		}

		.plausible-analytics-admin-field-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.plausible-analytics-admin-field-body {
			padding: 10px 0;
			margin: 15px 0;
			border-top: 1px dashed #e5e5e5;
			border-bottom: 1px dashed #e5e5e5;

			.plausible-analytics-admin-field-row {
				margin: 5px 0 0;
			}
		}

		.plausible-analytics-description {
			font-style: italic;
			color: #989898;

			ol {
				margin: 5px 15px;
			}
		}

		.plausible-analytics-admin-field-content {
			border-top: 1px dashed #e5e5e5;
			margin-top: 15px;
			padding: 15px 0 0;
		}
	}
}

.plausible-analytics-hidden {
	display: none;
}

.plausible-analytics-show {
	display: block;
}

.plausible-analytics-statistics-not-loaded {
	margin: 20px 0 0 -10px;
	padding: 0 30px;
	font-size: 15px;
	line-height: 24px;
}
