.plausible-analytics-header-navigation {
	background: #fff;
	display: flex;

	a {
		padding: 1.4rem;
		display: flex;
		align-items: center;
		color: inherit;
		text-decoration: none;
		outline: none;

		&.active {
			font-weight: 600;
			box-shadow: inset 0 -3px #5850ec;
		}
	}
}
.plausible-analytics-admin-menu {
	// padding: 0 !important;

	ul {
		display: flex;
		align-items: center;

		li {
			list-style: none;
			margin: 0;

			a {
				padding: 15px;
				text-decoration: none;
				text-transform: uppercase;
				color: #333;
				font-weight: 500;
				outline: none;
				box-shadow: none;

				&.active {
					border-bottom: 3px solid $base-color;
					color: $base-color;
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
}
