.plausible-analytics-quick-actions {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	background-color: $black-color;
	color: $white-color;
	padding: 0 15px;
	margin-bottom: 20px;
	border-radius: 5px;

	ul {
		display: flex;
		justify-content: space-around;
		align-items: center;

		li {
			list-style: none;
			background-color: $white-color;
			margin: 0 5px;
			border-radius: 25px;
			box-shadow: 0 0 25px -6px rgba(0, 0, 0, 0.49);
			-webkit-box-shadow: 0 0 25px -6px rgba(0, 0, 0, 0.49);
			-moz-box-shadow: 0 0 25px -6px rgba(0, 0, 0, 0.49);

			a {
				text-decoration: none;
				color: $base-color;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 12px;
				padding: 3px 8px;
				display: inline-block;
			}
		}
	}
}
