.plausible-analytics-quick-actions {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	background-color: $white-color;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid $base-color;

	.plausible-analytics-quick-actions-title {
		background-color: $base-color;
		color: $white-color;
		padding: 10px;
		margin-right: 5px;
	}

	ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0;

		li {
			list-style: none;
			background-color: $white-color;
			margin: 0 8px;
			border-radius: 25px;

			a {
				text-decoration: none;
				color: $base-color;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 12px;
			}
		}
	}
}
