.plausible-analytics-switch {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 20px;

	.plausible-analytics-switch-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		border-radius: 34px;

		&::before {
			position: absolute;
			content: '';
			height: 12px;
			width: 12px;
			left: 4px;
			bottom: 4px;
			background-color: #fff;
			-webkit-transition: 0.4s;
			transition: 0.4s;
			border-radius: 50%;
		}
	}

	.plausible-analytics-switch-checkbox {
		opacity: 0;
		width: 0;
		height: 0;

		&:checked {
			+ .plausible-analytics-switch-slider {
				background-color: $base-color;

				&::before {
					-webkit-transform: translateX(12px);
					-ms-transform: translateX(12px);
					transform: translateX(12px);
				}
			}
		}

		&:focus {
			+ .plausible-analytics-switch-slider {
				box-shadow: 0 0 1px $base-color;
			}
		}
	}
}
