.plausible-analytics-link {
	color: $base-color;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	margin: 0 0 0 10px;

	&:hover {
		color: $base-color;
	}

	&:visited {
		color: $base-color;
	}
}

.plausible-analytics-btn {
	text-decoration: none;
	padding: 10px 15px;
	background-color: $base-color;
	border-radius: 5px;
	margin: 0 5px;
	justify-self: right;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;

	&:hover {
		color: #fff;
	}
}
