.plausible-analytics-link {
	color: $base-color;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	margin: 0 0 0 10px;

	&:hover {
		color: $base-color;
	}

	&:visited {
		color: $base-color;
	}
}

.plausible-analytics-btn {
	text-decoration: none;
	padding: 10px 15px;
	background-color: $base-color;
	border-radius: 3px;
	margin: 0 5px;
	justify-self: right;
	color: $white-color;
	font-weight: 500;
	text-transform: uppercase;
	border: none;
	vertical-align: middle;

	&:active {
		color: $white-color;
		background-color: $click-color;
	}

	&:hover {
		cursor: pointer;
		color: $white-color;
	}

	&:disabled {
		background-color: grey;

		&:hover {
			cursor: not-allowed;
		}

		&:active {
			color: $white-color;
			background-color: grey;
		}
	}
}

.plausible-analytics-save-btn {
	display: flex;
	align-items: center;
}

#plausible-analytics-notice-test-proxy {
	display: inline-block;
	vertical-align: middle;

	.plausible-analytics-loading.spinner.is-active {
		margin: 0 0 -7px;
	}

	.notice {
		padding: 9px 18px;
		border-radius: 3px;

		&.success {
			border: 1px solid #2ECC40;
			background-color: #c6f1cb;
		}

		&.error {
			border: 1px solid #FF4136;
			background-color: #ffafaa;
		}
	}
}

#plausible_analytics_setting_proxy_status {
	background-color: #f5f5f5;
	padding: 15px 30px;
	max-width: 100%;
	margin-bottom: 0;
	border-radius: 5px;

	strong {
		font-weight: 700;
	}
}
